{% extends 'base.html' %}

{% block head %} 
    <title>New Post</title>
{% endblock %}

{% block body %} 
    <h1>New Post</h1>

    <hr>
        <h2>Create New Blog Post:</h2>
        <form action='/posts' method='POST'>
            <label for="model_name">Model Name</label>
            <input class="form-control" type="text" name='model_name' id='model_name' placeholder="Model Name" aria-label="Model Name">
            <br>
            <label for="model_type">Model Type</label>
            <input class="form-control" type="text" name='model_type' id='model_type' placeholder="Model Type" aria-label="Model Type">
            <br>
            <label for="creator">Creator</label>
            <input class="form-control" type="text" name='creator' id='creator' placeholder="Creator" aria-label="Creator">
            <br>
            <label for="description">Model Description</label>
            <textarea class="form-control" name='description' id='description' rows="3"></textarea>
            <br>
            <input type='submit' value='Post'>
        </form>
    <hr>
{% endblock %}