<!--Models Page-->

{% extends 'base.html' %}

{% block head %}
<title>Models</title> 
{% endblock %}

{% block body %}
<br>
<div>
    <h1 style="display:inline">All Models</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/posts/new" >+ New Model</a>
</div>
    <hr>

    {% for post in posts %}
        <h2>{{ post.model_name }}</h2>
        <h5>{{ post.model_type }}</h5>
        {% if post.creator %}
            <small> Created by {{ post.creator }} on {{ post.date_posted }}</small>
        {% else %}
            <small> Created by Unknown on {{ post.date_posted }}</small>
        {% endif %}
        <br>
        <br>
        <p style="white-space:pre-wrap">{{ post.description }}</p>
        <br>
        <a class="btn btn-danger" href='/posts/delete/{{post.id}}'>Delete</a>
        <a class="btn btn-primary" href='/posts/edit/{{post.id}}'>Edit</a>
        <br>
        <hr>
        <br>
    {% endfor%}

{% endblock %}