<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Model Viewer</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">LayerVision</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/models">
                  <span data-feather="home"></span>
                  Models <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved Graphs</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/models/view/{{model.id}}">
                  <span data-feather="bar-chart-2"></span>
                  Training Loss
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/models/view/{{model.id}}/testing_loss">
                  <span data-feather="bar-chart-2"></span>
                  Testing Loss
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/models/view/{{model.id}}/train_acc">
                  <span data-feather="bar-chart-2"></span>
                  Training Accuracy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/models/view/{{model.id}}/test_acc">
                  <span data-feather="bar-chart-2"></span>
                  Testing Accuracy
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{model.model_name}}</h1>
          </div>

          <h3 class="h3">Testing Accuracy</h3>
          <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

          <h2>Model Stats</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Training Ratio</th>
                  <th>Test Ratio</th>
                  <th>Train Batch Size</th>
                  <th>Test Batch Size</th>
                  <th>Epochs</th>
                  <th>Learning Rate</th>
                  <th>Momentum</th>
                  <th>Regularization</th>
                  <th>Loss Function</th>
                  <th>Optimizer</th>
                  <th>Random Seed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{model.id}}s</td>
                  <td>{{model.model_name}}</td>
                  <td>{{model.train_ratio}}</td>
                  <td>{{model.test_ratio}}</td>
                  <td>{{model.train_batch_size}}</td>
                  <td>{{model.test_batch_size}}</td>
                  <td>{{model.epochs}}</td>
                  <td>{{model.lr}}</td>
                  <td>{{model.mom}}</td>
                  <td>{{model.reg}}</td>
                  <td>{{model.loss_func}}</td>
                  <td>{{model.opt}}</td>
                  <td>{{model.rdm_seed}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var test_interval = {{data.test_interval|tojson}}
      var test_acc = {{data.test_acc|tojson}}
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: test_interval,
          datasets: [{
            data: test_acc,
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
